// Images filepath directory
$images-dir: '../img/';

// Text color
$text-color: $white;

// Website main colors
$primary-bg-color: #272B30;
$primary-bg-color-darker: #343A40;
$secondary-bg-color: #343A40;

// <input> elements background color on hover
$input-bg-hover: rgba(255, 255, 255, .1);

// UI Colors
$ui-red: #ED594A;
$ui-yellow: #FDD800;
$ui-green: #5AC05A;