@import 'style-variables.scss';

// PHISHING E-MAILS AND WEBSITES: INDICATIONS
.indication {
  padding: 0 0 0 .2rem;
  text-decoration: none;
  border-bottom: 2px solid #dc3545;
  color: $black;

  &:hover, &.active {
    text-decoration: none;
    font-weight: bold;
    color: #dc3545;

    .icons {
      div {
        &:first-of-type {
          display: none;
        }

        &:last-of-type {
          display: inline-block;
        }
      }
    }
  }

  .icons {
    display: inline-block;
    transform: translateY(10px);
    color: #dc3545;

    &.top div {
      transform: translateY(-5px);
      background: #f1f1f1;
    }

    div {
      background: $white;

      &:last-of-type {
        display: none;
      }
    }

    .feather {
      width: 22px;
      height: 22px;
    }
  }
}

// EMAIL/WEBSITE WINDOW
.window {
  font-size: 13pt;
  position: relative;
  word-wrap: break-word;
  color: $black;
  border: 3px solid #f1f1f1;
  border-radius: 10px;
  background: $white;

  @include media-breakpoint-down(xs) {
    width: 100%;
    font-size: 12pt;
  }

  .row {
    margin: 0 10px 5px 10px;
  }

  // WINDOW HEADER
  .header {
    padding: 0;
    background: #f1f1f1;

    .col:first-of-type, .col:last-of-type {
      margin: 0;
      padding: 0;
    }

    // WINDOW HEADER - TRAFFIC LIGHTS MENU
    .traffic-lights-menu {
      display: inline-block;
      min-width: 55px;

      span {
        display: inline-block;
        height: 12px;
        width: 12px;
        margin-right: 3.5px;
        margin-bottom: 3px;
        border: 1px solid rgba(0, 0, 0, 0.06);
        border-radius: 100%;
        background: #ddd;

        &:nth-of-type(1) {
          background: $ui-red;
        }

        &:nth-of-type(2) {
          background: $ui-yellow;
        }

        &:nth-of-type(3) {
          background: $ui-green;
        }
      }
    }

    // WINDOW HEADER - TITLE
    .title {
      text-align: center;
      color: #666;
    }

    // WINDOW HEADER - BAR MENU
    .bar-menu {
      float: right;
      margin-top: 2px;

      span {
        display: block;
        width: 17px;
        height: 3px;
        margin: 3px 0;
        background-color: #aaa;
      }
    }
  }

  // WINDOW - CONTENT
  .content {
    padding: 20px;

    @include media-breakpoint-down(sm) {
      padding: 20px 0;
    }

    &.screenshot {
      max-height: 350px;
      position: relative;
      overflow: hidden;
      text-align: center;
      padding: 0;

      @include media-breakpoint-down(lg) {
        img {
          max-width: 100%;
        }
      }

      .screenshot-shadow {
        height: 50px;
        position: absolute;
        bottom: 0;
        left: 0;
        right: 0;
        -moz-box-shadow: inset 0 -500px 500px -500px $white;
        -webkit-box-shadow: inset 0 -500px 500px -500px $white;
        box-shadow: inset 0 -500px 500px -500px $white;
      }
    }

    hr {
      margin: 20px 0 10px 0;
      width: auto;
      border-top: 1px solid #aaa;
    }
  }
}