@import 'extensions/bootstrap-4.6.2/_functions.scss';
@import 'extensions/bootstrap-4.6.2/_variables.scss';
@import 'extensions/bootstrap-4.6.2/mixins/_breakpoints.scss';

@import url('https://fonts.googleapis.com/css2?family=Be+Vietnam:wght@400;600;700;800&display=swap');

@import 'style-variables.scss';


html, body {
  margin: 0;
}


body {
  font-family: 'Be Vietnam', sans-serif;
  font-size: .875rem;
  color: $text-color;
  background: $secondary-bg-color url($images-dir + 'footer-bg.svg') no-repeat left bottom;
  background-size: 650px 290px;
}


// LINKS
a {
  color: $text-color;
  text-decoration: underline;
  outline: none;

  &:hover {
    color: $text-color;
  }
}


// HEADINGS
h1 {
  margin-bottom: 0;
  text-transform: uppercase;
  font-size: 21px;
  font-weight: 700;
  letter-spacing: .53px;

  .feather {
    width: 40px;
    height: 40px;
    padding: 5px;
    margin-right: 10px;
    border-radius: 50%;
    background: $secondary-bg-color;
  }
}


// LISTS
ul {
  list-style-type: square;
}


.navbar-collapse {
  h2 {
    font-size: 16px;
    font-weight: 400;
    letter-spacing: .4px;

    @include media-breakpoint-up(lg) {
      margin: 0;
    }
  }

  h3 {
    font-size: 38px;
    font-weight: 800;
    letter-spacing: .95px;

    @include media-breakpoint-down(xs) {
      font-size: 26px;
    }
  }
}


// HEADER
header {
  height: 70px;
  position: relative;
  z-index: 1;
  color: $white;
  background: $primary-bg-color;

  a, a:hover {
    color: $white;
    text-decoration: none;
  }

  nav.navbar {
    height: 100%;
    position: relative;
    box-shadow: 0 0 10px $primary-bg-color;
  }

  @include media-breakpoint-down(xs) {
    .navbar-brand {
      margin-right: 0;
    }
  }

  @media (max-width: 390px) {
    .logo-domain {
      display: none;
    }
  }

  .navbar-toggler-icon {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgb(255,255,255)' stroke-width='3' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
  }

  @include media-breakpoint-down(md) {
    #navigation {
      width: 100%;
      padding: 20px;
      position: absolute;
      top: 70px;
      left: 0;
      z-index: 1001;
      opacity: .95;
      box-shadow: 0 0 10px $primary-bg-color;
      background: $primary-bg-color;
    }
  }

  .nav-item {
    margin-right: 40px;

    @media (max-width: 1480px) {
      margin-right: 30px;
    }

    @media (max-width: 1440px) {
      margin-right: 15px;
    }

    @include media-breakpoint-down(lg) {
      margin-right: 30px;
    }

    @include media-breakpoint-down(md) {
      margin-right: 0;
    }

    .active {
      font-weight: 800;
    }

    &.button {
      .nav-link {
        padding-left: 22px;
        padding-right: 22px;
        border: 1px solid $white;
        border-radius: 20px;
        color: #000;
        background: $white;

        &:hover {
          color: $white;
          background: $primary-bg-color-darker;
        }
      }
    }
  }

  .navbar-button {
    padding: .5rem 22px;
    margin-right: 40px;
    border: 1px solid $text-color;
    border-radius: 20px;
    text-decoration: none;

    @include media-breakpoint-down(md) {
      display: none;
    }

    &:hover {
      background: $primary-bg-color-darker;
    }
  }

  .btn-secondary {
    height: 100%;
    font-size: 16px;
    text-transform: uppercase;
    font-weight: 800;
    letter-spacing: .4px;
    border-radius: 0;
    border: $primary-bg-color;
    background: $primary-bg-color-darker;

    &:hover {
      background: $primary-bg-color !important;
    }
  }
}


// FOOTER
footer {
  margin-bottom: 1rem;

  .footer-logo {
    display: flex;
    align-items: flex-end;
    justify-content: flex-end;

    img {
      height: 80px;
    }
  }
}


// BUTTONS
a.btn {
  white-space: nowrap;
  text-decoration: none;
}

.btn-primary {
  height: 50px;
  line-height: 32px;
  position: relative;
  padding-left: 30px;
  padding-right: 30px;
  text-align: left;
  font-size: 16px;
  text-transform: uppercase;
  letter-spacing: .4px;
  border-radius: 30px;
  border: 1px solid $primary-bg-color;
  background: $primary-bg-color;

  &:hover, &:focus, &:active {
    color: $primary-bg-color !important;
    border: 1px solid $white !important;
    background: $white !important;
  }

  &:focus, &:active {
    box-shadow: 0 0 0 .2rem rgba(255,255,255,.4) !important;
  }

  &.with-icon {
    padding-right: 50px;

    &:after {
      content: "";
      display: inline-block;
      width: 10px;
      height: 16px;
      position: absolute;
      top: 16px;
      right: 20px;
      background: url($images-dir + 'btn-play.svg') no-repeat top right;
    }

    &:hover:after, &:focus:after, &:active:after {
      background: url($images-dir + 'btn-play-dark.svg') no-repeat top right;
    }
  }
}

.btn-secondary {
  background: $secondary-bg-color;

  &:hover, &:focus, &:active {
    background: $input-bg-hover !important;
  }
}

// PHISHING INDICATIONS
@import 'style-indications.scss';

.card {
  a {
    text-decoration: none;
    color: $black;
  }

  &.active, &:hover {
    background-color: rgba(237, 89, 74, 1.0) !important;

    a, a:hover {
      color: $white;
    }
  }
}

.par-intro {
  font-size: 1rem;
}


// PHISHING - WINDOW WRAPPER
.window-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;

  @include media-breakpoint-down(lg) {
    margin-top: 50px;
  }

  .phishing-sign {
    position: absolute;
    right: -20px;
    top: -25px;
    font-size: 1rem;
    color: #fff;
    padding: 5px 10px 5px 5px;
    text-transform: uppercase;
    font-weight: bold;
    border-radius: 10px;
    transform: rotate(8deg);
    z-index: 1;

    @media only screen and (max-width: 480px) {
      top: -35px;
      left: 0;
      right: unset;
      transform: rotate(-4deg);
    }
  }
}


// PHISHING - MARK SYMBOL
.mark-symbol {
  width: 50px;
  height: 50px;
  position: absolute;
  border-radius: 50%;
  cursor: pointer;

  &:hover {
    .desc {
      display: block;
      width: 240px;
      position: absolute;
      top: 0;
      left: 0;
      padding: 10px 20px;
      z-index: 1;
      border-radius: 25px 0;
      background: rgba(241, 241, 241, 0.9);

      @include media-breakpoint-down(sm) {
        right: 0;
        left: unset;
        border-radius: 0 25px;
      }
    }
  }

  .desc {
    display: none;
  }

  p {
    font-size: 14px;
    font-weight: 400;

    &:last-of-type {
      margin-bottom: 10px;
    }
  }

  strong {
    display: inline-block;
    width: 100%;
    padding: 0 0 20px 40px;
    font-size: 16px;

    @include media-breakpoint-down(sm) {
      padding: 0 40px 20px 0;
    }
  }

  .circle {
    width: 50px;
    height: 50px;
    position: absolute;
    top: 0;
    left: 0;
    text-align: center;
    border-radius: 50%;

    @include media-breakpoint-down(sm) {
      right: 0;
      left: unset;
    }

    &:first-of-type {
      line-height: 38px;
      color: $ui-red;
      border: 2px solid $ui-red;
      background: $white;
    }

    &:last-of-type {
      line-height: 42px;
      color: $ui-green;
      border: 2px solid $ui-green;
      background: rgba(255, 255, 255, 1);
    }
  }
}


.link-red {
  font-weight: bold;
  color: $ui-red;
}

.link-green {
  font-weight: bold;
  color: $ui-green;
}

.cursor-pointer {
  cursor: pointer;
}